.leaderboard {
  &-list {
    max-width: 600px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
  }

  &-box {
    display: block;
    border: 1px solid $color-borders;
    width: 90%;
    padding: 2rem;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    margin: 1rem 0;

    > hr {
      visibility: hidden;
    }
  }

  &-score {
    width: 6rem;
    border: 1px solid $color-borders;
    border-radius: 0.3rem;
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;

    &-body {
      height: inherit;
      flex: 1;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 30px;
    }

    &-body,
    &-header {
      padding: 1rem;
    }

    &-header {
      border-bottom: 1px solid $color-borders;
    }
  }

  .avatar {
    margin: 0;
  }

  hr {
    margin: 0 2rem;
  }
}
