#login-box {
  max-width: 500px;
  margin: auto;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  li {
    display: block;
    border: 1px solid $color-borders;
  }

  a {
    padding: 1rem 3rem;
    display: block;
    text-decoration: none;
    color: inherit;
    height: inherit;
    width: inherit;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }
  span.username {
    font-size: 1.2rem;
    font-weight: bold;
}
}

.avatar {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-right: 3rem;
}
