.question {
  display: block;
  border: 1px solid silver;
  padding: 1rem 3rem;
  margin: 3rem 0;

  * {
    text-align: left;
  }

  &-body {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  &-details,
  &-toggle {
    margin: 0 auto;
    max-width: 600px;
  }

  &-toggle {
    position: relative;
    max-width: 600px;
    margin: auto;
    border: 1px solid silver;
  }

  &-list {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
  }

  button {
    width: 90%;
    border: 1px solid green;
  }

  hr {
    margin: 0;

    +div {
      margin-left: 3rem;
    }
  }

  &-option {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 0.5rem 1rem;
position: relative;


    &.voted {
      border-color: green;
    }
  }
}
.voted-tag{
  display: block;
padding: .5rem;
  text-align: center;
  background-color: gold;
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  border-radius: 50%;
  font-size: .8rem;
  color: #fff;
}
.new-question {
  border: 1px solid silver;
  display: block;
  max-width: 500px;
  margin: 3rem auto;

  &--header {
    border-bottom: 1px solid silver;
  }

  &--body {
    padding: 1rem 3rem;
  }

  h2,
  p {
    text-align: left;
  }

  label {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
  }
  // Inspied from https://css-tricks.com/box-sizing/
  label:after,
  label:before {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: silver;
  }

  label:before {
    margin-left: -55%;
    text-align: right;
  }

  label:after {
    margin-left: 5%;
    text-align: right;
  }

  .color {
    background-color: #ccc;
  }

  button,
  input,
  label {
    display: block;
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    box-sizing: border-box;
  }

  button {
    background-color: green;
  }
}

button.toggle-button {
  width: 50%;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  background-color: #fff;

  &.selected {
    background-color: silver;
  }
}

.poll-bar {
  display: block;
  width: 100%;
  border-radius: 5px;
  background-color: silver;
  height: 2rem;
  overflow: hidden;

  &--fill {
    height: 100%;
    width: 100%;
    background-color: green;
  }
}
