*[class$="body"]:not(.leaderboard-score-body) {
  padding: 2rem 3rem;
}

*[class$="header"]:not(.leaderboard-score-header) {
  padding: 1rem 3rem;
  box-sizing: border-box;
}

*[class$="header"] {
  background-color: $color-headers;
  margin: 0;
  border-bottom: 1px solid $color-borders;
  text-align: center;
}

.question {
  display: block;
  border: 1px solid $color-borders;
  margin: 3rem 0;

  * {
    text-align: left;
  }

  &-body {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    > div {
      width: 60%;
    }

    form {
      label {
        margin: 1.5rem 0;
        display: block;
        cursor: pointer;
        cursor: hand;
      }
    }
  }

  &-details,
  &-toggle {
    margin: 0 auto;
    max-width: 600px;
  }

  &-toggle {
    position: relative;
    max-width: 600px;
    margin: auto;
    border: 1px solid $color-borders;
    margin: 3rem auto;
  }

  &-list {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
  }

  hr {
    margin: 0;

    +div {
      margin-left: 3rem;
    }
  }

  &-option {
    border: 1px solid $color-borders;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    position: relative;

    &.voted {
      border-color: $color-primary;
    }
  }
}

.voted-tag {
  display: block;
  padding: 0.5rem;
  text-align: center;
  background-color: $color-gold;
  border: 1px solid darken($color-gold, 5%);
  box-shadow: 2px 2px 5px lighten($color-borders,10%);
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  border-radius: 50%;
  font-size: 0.8rem;
  color: #fff;
}

.new-question {
  border: 1px solid $color-borders;
  display: block;
  max-width: 500px;
  margin: 3rem auto;

  h2,
  p {
    text-align: left;
  }

  label {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
  }
  // Inspied from https://css-tricks.com/box-sizing/
  label:after,
  label:before {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: $color-borders;
  }

  label:before {
    margin-left: -55%;
    text-align: right;
  }

  label:after {
    margin-left: 5%;
    text-align: right;
  }

  .color {
    background-color: #ccc;
  }

  input,
  label {
    display: block;
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
  }
}

.poll-bar {
  display: block;
  width: 100%;
  border-radius: 5px;
  background-color: $color-borders;
  height: 2rem;
  overflow: hidden;

  &--fill {
    height: 100%;
    width: 100%;
    background-color: $color-primary;
  }
}
