.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

body {
  min-height: 100vh; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

nav {
  position: relative; }

#nav {
  padding: 0;
  margin: 0;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  flex-direction: row-reverse;
  width: 100%; }
  #nav li {
    list-style-type: none;
    list-style-type: none;
    display: block;
    padding: 1rem 3rem; }

#login-box {
  max-width: 500px;
  margin: auto;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  #login-box li {
    display: block;
    border: 1px solid silver; }
  #login-box a {
    padding: 1rem 3rem;
    display: block;
    text-decoration: none;
    color: inherit;
    height: inherit;
    width: inherit;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center; }
  #login-box span.username {
    font-size: 1.2rem;
    font-weight: bold; }

.avatar {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-right: 3rem; }
